html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
}

/*CELISTVÝ OBRÁZEK POD HLAVIČKOU + MENU*/

header.hlavicka,
ul.menu {
    position: relative;
    z-index: 2;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 330px;       
    background-image: url("Obrázky/Panorama_2.JPG"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.hlavicka {
    text-align: center;
    padding: 40px 0 20px;
    font-size: 36px;
    font-weight: 600;
    color: white;
}

.menu {
    text-align: justify;
    font-size: 20px;
    font-weight: 200;
    padding: 15px 0 20px;
    color: white;
    display: flex;
    justify-content: center;
    gap: 25px;
    list-style: none;

}

section h2 {
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
    color: darkblue;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 60px
    padding: 20px 1%;

}

section {
    text-align: justify;
    color: black;
    padding: 0px 1%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
}

.gallery img {
    width: 100%;
    height: auto;
    border: 2px solid #756158;
    border-radius: 10px;
    object-fit: cover;
}

.prvnidny img {
    
    border: 2px solid #756158;
    border-radius: 10px;
}

.Jasper img {
   
    gap: 8px;
    border: 2px solid #756158;
    border-radius: 10px;
    margin: 5px 5px;
}

.zapadniKanadou img {
  
    border: 2px solid #756158;
    border-radius: 10px;
    margin: 5px 5px;
}

.Banff img {
    
    border: 2px solid #756158;
    border-radius: 10px;
    float: grid;
    margin: 5px 5px;
}

.paticka {
    text-align: center;
    color: white;
    background-color: rgb(137, 204, 240);
    padding: 10px 0;
}